<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyc.springcloud.dao.PaymentDao">
    <!--type写全名是因为idea里面插件因为不写全名而报红-->
    <resultMap id="paymentMap" type="com.gyc.springcloud.entity.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <!--这两个么见过的属性，使其自动加了where id=#{id}-->
    <insert id="create" parameterType="com.gyc.springcloud.entity.Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values (#{serial});
    </insert>

    <select id="getPaymentById" parameterType="Long" resultMap="paymentMap">
        select * from payment where id=#{id};
    </select>

    <select id="getAllPayments" resultMap="paymentMap">
        select * from payment order by id desc;
    </select>

</mapper>